*{margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url(https://thumbs.dreamstime.com/b/nube-larga-en-el-cielo-foto-panor%C3%A1mica-15121573.jpg);
height: 150px; 
  background-size: cover;
  text-align: center;
  border-bottom: 3px;
  border-style: solid;
}

#titulo {
  display: inline-block; /*no ocupe todo el ancho */
  position: relative; /* esto nos permite mover las rayas */
  font-family: 'Dancing Script', cursive;
  text-shadow: white 5px 3px 4px; /*sombreado*/
  font-size: 8vw;
  margin: 20px;
}
#titulo::after,#titulo::before{
  content: '';
  position: absolute;
  width: 120px; 
  height: 3px;
  background-color: currentColor;
  top: 0.6em; /*centra las lineas a la altura de las letras*/
  transform: scale(1);
  transition: all 0.6s ease-in;
}
#titulo:hover::before , #titulo:hover::after{
  transform: scale(0);
}
#titulo::before{
  left: -140px;
}
#titulo::after{
  right: -140px;
}

main{
  background: rgb(255, 254, 239);
  min-height: 100vh;
  font-family: 'Edu SA Beginner', cursive;
  text-align:center;
  
}

h1 {
  font-size: 6vw;
  text-transform: capitalize; /*letra mayuscula*/
}

button {
  background-color: rgb(87, 159, 241);
  color:white;
  border-radius: 35px;
  border-color: blue;
  border-width: 2px;
  width:100px;
  height:25px;
}

.p1, .p2, .datos{
  font-size: 3vw;
}

#selecciona, #mensaje{
  color: blue;
  font-size: 2vw;
}
#mensaje2 {
  padding: 200px;
  text-transform: capitalize;
  color: blue;
  font-size: 4vw;
}

.foto {
  width: 25vw;
  height: 25vw;
  border-style: double;
  border-width: 10px;
  border-color: rgb(87, 159, 241);
  border-radius: 35px;
  margin-right: 35px;
}

footer{
  background: url(https://w0.peakpx.com/wallpaper/472/752/HD-wallpaper-seashells-and-starfish-on-the-sand-seashells-seashell-sand-shell-starfishes-shells-starfish.jpg);
  height: 150px; 
  background-size: cover;
  border: 3px;
  border-style:solid;
}

#pieDePag{
  font-size: 4vw;
  font-family: 'Edu SA Beginner', cursive;
  margin-left: 15px;
}

.logoContacto {
  width: 6vw;
  height: 6vw;
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  margin-right: 35px;
  margin-left: 15px;
}